auto-ai.ipynb
__pycache__/config.cpython-39.pyc
__pycache__/config.cpython-310.pyc
app/plotlydash/__pycache__/dashboard.cpython-39.pyc
app/plotlydash/__pycache__/data.cpython-39.pyc
app/plotlydash/__pycache__/layout.cpython-39.pyc
app/__pycache__/__init__.cpython-39.pyc
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/forms.cpython-39.pyc
app/__pycache__/forms.cpython-310.pyc
app/__pycache__/routes.cpython-39.pyc
new_data/diabetes_binary_5050split.csv.zip
new_data/diabetes_binary.csv
new_data/diabetes_health_indicators-full.csv
new_data/diabetes_health_indicators.csv
new_data/diabetes_health_indicators.csv.zip
new_data/diabetes_pre_diabetes-health_indicators.csv.zip
new_data/diabetes-detailed-eda-with-conclusion.ipynb
new_data/diabetes-health-prediction.ipynb
new_data/norm_diabetes.csv
new_data/normalized_diabetes.csv
new_data/normed_diabetes.csv
data.csv
app/og-routes.py
README2.md
app/.env
app/__pycache__/routes.cpython-310.pyc
app/static/old-heatmap.html
app/static/old_matrix.png
app/static/ibm-watsonxai-a04.l.webp
__pycache__/main.cpython-39.pyc
