Brotli==1.0.9
click==8.1.4
dash==2.11.1
dash-auth==2.0.0
dash-bootstrap-components==1.4.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
Flask==2.2.5
Flask-Compress==1.13
Flask-WTF==1.1.1
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.1
MarkupSafe==2.1.3
numba==0.57.1
numpy==1.24.4
pandas==2.0.3
plotly==5.15.0
python-dateutil==2.8.2
pytz==2023.3
retrying==1.3.4
scikit-learn==1.3.0
scipy==1.11.1
six==1.16.0
slicer==0.0.7
threadpoolctl==3.1.0
Werkzeug==2.2.3
WTForms==3.0.1
wtforms-html5==0.6.1
